<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="django module" />
            <add name="handler de django" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\Buchettes\venv\Scripts\python.exe|D:\Buchettes\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
    <appSettings>
    <!-- Required settings -->
    <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    <add key="PYTHONPATH" value="D:\Buchettes" />

    <!-- Optional settings -->
    <add key="WSGI_LOG" value="D:\Log\Buchettes.log" />
    <add key="DJANGO_SETTINGS_MODULE" value="django_buchettes.settings" />
  </appSettings>
</configuration>
