{% extends "base.html" %}
{% load static %}

{% block title %}
Buchettes Factory
{% endblock %}

{% block content %}
	<h2 class="text-primary">
		Bienvenue à la bonne buchette {% if user.is_authenticated %} {{ user.username }} {% endif %} !
	</h2>

	{% if user.is_authenticated %}
	<p style="margin-top:30px"></p>
	<div class="row">
		<div class="col-md-6">
			<p>
				<a class="btn btn-primary"
					href="{% url 'new_buchette' %}"> Mettre une buchette !</a>
			</p>
		</div>
		<div class="col-md-6">
			<p>
				<a class="btn btn-primary"
					href="{% url 'buchette_payees' %}"
				   {% if nombre_buchette_utilisateur_courant < 3 %} disabled="disabled" {% endif %}
					> J'ai payé mes buchettes</a>
			</p>
		</div>
	</div>
	{% endif %}

	<div class="row">
		<p style="margin-top:50px"></p>
		<h3>Tableau des buchettes</h3>
		<p style="margin-top:30px"></p>

		{% if list_user_tries %}
				<table class="table table-bodered tictactoe-table">
				{% for user in list_user_tries %}
					<tr height="50">
						<td class="username-cell">
							{% if dico_user_medaille|get_item:user == 0 %}
								<a href="{% url 'liste_buchettes' user_id=user.id%}"> {{ user }} </a>
								<img src="{% static "img/medaille_or.jpg" %}" alt="Ma bourse"
										width="17" height="25"
										title="Utilisateur ayant obtenu le plus de buchettes depuis le lancement de l'application">
							{% elif dico_user_medaille|get_item:user == 1 %}
								<a href="{% url 'liste_buchettes' user_id=user.id%}"> {{ user }} </a>
								<img src="{% static "img/medaille_argent.jpg" %}" alt="Ma bourse"
										width="17" height="25"
										title="2éme utilisateur ayant obtenu le plus de buchettes depuis le lancement de l'application">
							{% elif dico_user_medaille|get_item:user == 2 %}
								<a href="{% url 'liste_buchettes' user_id=user.id%}"> {{ user }} </a>
								<img src="{% static "img/medaille_bronze.jpg" %}" alt="Ma bourse"
										width="17" height="25"
										title="3éme utilisateur ayant obtenu le plus de buchettes depuis le lancement de l'application">
							{% else %}
								<a href="{% url 'liste_buchettes' user_id=user.id%}"> {{ user }} </a>
							{% endif %}
						</td>
						<td class="bourse-cell">
							{% if dictionnaire_user_buchette_A|get_item_count:user >= 3 %}
								<img src="{% static "img/bourse_po.jpg" %}" alt="Ma bourse"
										width="50" height="50" >
							{% endif %}
						</td>
						<td class="buchette-cell">
							{% for buchette in dictionnaire_user_buchette|get_item:user %}
								{% if buchette.status_buchette == 'A' %}
									<img src="{% static "img/buchette.jpg" %}" alt="Ma buchette"
										width="50" height="50"
										title="{{ buchette.date_buchette }} {{ buchette.message_buchette }} ">
								{% elif buchette.status_buchette == 'D'%}
									<img src="{% static "img/bouclier.jpg" %}" alt="Ma buchette"
										width="50" height="50"
										title="{{ buchette.date_buchette }} Buchette à défendre : {{ buchette.message_buchette }} ">
								{% elif buchette.status_buchette == 'E'%}
									<img src="{% static "img/buchette.jpg" %}" alt="Ma buchette"
										width="50" height="50" style="opacity:0.3"
										title="{{ buchette.date_buchette }} {{ buchette.message_buchette }} ">
								{% elif buchette.status_buchette == 'P' %}
									<img src="{% static "img/pain_choco.jpg" %}" alt="Ma buchette"
										width="50" height="50"
										title="Buchette payées en attente d'une validation par un utilisateur">
								{% endif %}
							{% endfor %}
						</td>
					</tr>
				{% endfor %}
				</table>
		{% endif %}
	</div>

	{% if user.is_authenticated %}
		{% if dico_user_buchettes_payees_a_confirmer.items %}

			<p style="margin-top:50px"></p>
			<h3>Buchettes payées à confirmer ! </h3>
			<p style="margin-top:30px"></p>
			<table class="table table-bodered tictactoe-table">

			{% for l_user, list_buchette in dico_user_buchettes_payees_a_confirmer.items %}
					<tr>
						<td class="tictactoe-cell">
							<p> {{ l_user }} prétend avoir payé {{ list_buchette.count }} buchettes </p>
						</td>
						<td class="tictactoe-cell">
							<p>
								<a class="btn btn-primary"
									href="{% url 'confirmation_buchette_soldees' user_id=l_user.id %}"
								   > Je confirme, on s'est régaléS !</a>
							</p>
						</td>
						<td class="tictactoe-cell">
							<p>
								<a class="btn btn-primary"
									href="{% url 'buchette_non_payee' user_id=l_user.id %}">
									C'est faux ! </a>
							</p>
						</td>
					</tr>
			{% endfor %}
			</table>
		{% endif %}

		{% if liste_user_a_defendre %}

			<p style="margin-top:50px"></p>
			<h3> Buchettes à defendre ! </h3>
			<p style="margin-top:30px"></p>
			<table class="table table-bodered tictactoe-table">
				<tr>
					<td class="tictactoe-cell">Date Buchette </td>
					<td class="tictactoe-cell">Message associé </td>
					<td class="tictactoe-cell"> Temps restant </td>
					<td class="tictactoe-cell">  </td>
					<td class="tictactoe-cell">  </td>
					<td class="tictactoe-cell"></td>
					<td class="tictactoe-cell"></td>
				</tr>
			{% for l_buchette in liste_user_a_defendre %}
					<tr>
						<td class="tictactoe-cell">
							<p> {{ l_buchette.date_buchette }} </p>
						</td>
						<td class="tictactoe-cell">
							<p>
								<p> {{ l_buchette.message_buchette }} </p>
							</p>
						</td>
						<td class="tictactoe-cell">
							<p>
								<p> {{ l_buchette.temps_restant }} </p>
							</p>
						</td>
						<td class="tictactoe-cell">
							<p>
								<a class="btn btn-primary"
									href="{% url 'defence' id=l_buchette.id %}">
									Je me défends </a>
							</p>
						</td>
						<td class="tictactoe-cell">
							<p>
								<a class="btn btn-primary"
									href="{% url 'indefendable' id=l_buchette.id %}">
									Je suis indéfendable </a>
							</p>
						</td>
					</tr>
			{% endfor %}
			</table>
		{% endif %}

		{% if is_comite_buchette == True %}
			<div class="row">
				<h3>Buchettes en attente de votre vote</h3>

				{% if list_buchette_a_valider %}
					<table class="table table-bodered tictactoe-table">
						<tr>
							<td class="tictactoe-cell">Victime </td>
							<td class="tictactoe-cell">Message associé </td>
							<td class="tictactoe-cell">Message de la défense </td>
							<td class="tictactoe-cell"> Date buchette </td>
							<td class="tictactoe-cell"> Vote pour </td>
							<td class="tictactoe-cell"> Vote contre </td>
							<td class="tictactoe-cell"></td>
							<td class="tictactoe-cell"></td>
						</tr>
						{% for buchette in list_buchette_a_valider %}
						<tr>
							<td class="tictactoe-cell"> {{ buchette.victime }} </td>
							<td class="tictactoe-cell"> {{ buchette.message_buchette }} </td>
							<td class="tictactoe-cell"> {{ buchette.message_defense }} </td>
							<td class="tictactoe-cell"> {{ buchette.date_buchette }} </td>
							<td class="tictactoe-cell"> {{ buchette.vote_pour }} </td>
							<td class="tictactoe-cell"> {{ buchette.vote_contre }} </td>
							<td><a class="btn btn-primary"
								href="{% url 'accept_buchette' id=buchette.id %}"
								> Valider </a> 
								</td>
							<td><a class="btn btn-primary"
								   href="{% url 'deny_buchette' id=buchette.id %}"
									> Refuser </a> </td>
						</tr>
						{% endfor %}
						</table>
					{% else %}
						<p>Il n'y a a pas de buchettes en attente de validation.</p>
					{% endif %}
			</div>
			<div class="row">
				<h3>Buchettes en attente du vote des autres membres du comité</h3>
					{% if list_buchette_attente %}
					<table class="table table-bodered tictactoe-table">
						<tr>
							<td class="tictactoe-cell">Victime </td>
							<td class="tictactoe-cell">Message associé </td>
							<td class="tictactoe-cell">Message de la défense </td>
							<td class="tictactoe-cell"> Date buchette </td>
							<td class="tictactoe-cell"> Vote pour </td>
							<td class="tictactoe-cell"> Vote contre </td>
						</tr>
						{% for buchette in list_buchette_attente %}
						<tr>
							<td class="tictactoe-cell"> {{ buchette.victime }} </td>
							<td class="tictactoe-cell"> {{ buchette.message_buchette }} </td>
							<td class="tictactoe-cell"> {{ buchette.message_defense }} </td>
							<td class="tictactoe-cell"> {{ buchette.date_buchette }} </td>
							<td class="tictactoe-cell"> {{ buchette.vote_pour }} </td>
							<td class="tictactoe-cell"> {{ buchette.vote_contre }} </td>
						</tr>
						{% endfor %}
						</table>
					{% endif %}
			</div>
		{% endif %}

	{% endif %}

{% endblock %}
